.about-container {
     flex-grow: initial;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  
  p {
    color: #555;
    line-height: 1.6;
  }
  
  h2 {
    color: #444;
    margin-top: 20px;
    
    text-align: center;
  }
  
  ul {
    margin-left: 20px;
    color: #555;
    text-align: center;
  }
  
  li {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .b-img {
    background-image: url('https://media.istockphoto.com/id/1460172015/photo/businessmen-making-handshake-with-partner-greeting-dealing-merger-and-acquisition-business.jpg?s=612x612&w=0&k=20&c=IyQrIahedSW3WKsHSNsqtvX8dnzI1augnrtRrVeN3Dw=');
    background-size: stretch;    /* Ensures the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    height: 100vh;  /* Full height of the viewport */
    width: 100%;    /* Full width of the viewport */
  }