.about-container {
    
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  
  p {
    color: #555;
    line-height: 1.6;
  }
  
  h2 {
    color: #444;
    margin-top: 20px;
    
    text-align: center;
  }
  
  ul {
    margin-left: 20px;
    color: #555;
    text-align: center;
  }
  
  li {
    margin-bottom: 10px;
    text-align: center;
  }
  
  img {
    align-content: center;
    width: fit-content;
  }