.top-container{ 
  margin:0px;
  background-color: #FEF7FF ;
  height: 120px;
  width:100%;
}

.padding-10px{ 
  padding:10px;
}
.width-max{ 
  padding:10px;
  text-align: center;
  
  
 
  display: flex;
  margin-left:50px;
  align-items: center;
  
}

.full-width{ 
  width:100vw;
}
.width-max > h1{ 
  margin-left: 1rem;
}

.flex-across{ 
  display:flex;

  
}

.top-icons{ 
  padding:10px;
  display:flex;
  justify-content: space-between;
  width:98vw;
}

.cursor-pointer{ 
  cursor: pointer;
}

.button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
}

.space-around{ 
  justify-content: space-around;
}

.box-shadow{ 
  box-shadow: 2px 5px 2.5px rgba(0, 0, 0, 0.433);
}